page-password {
	ion-content {
    background-image: url('../assets/img/college.jpg');
    -webkit-background-image: url('../assets/img/college.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ffffff;
    color: #000000;
  }
  
  .login{
    

    .spacer{
      height: 200px;
    }

    .item{
      background: #ffffff;
      color: #000000;
    }

    .label{
      color: #000000;
      padding-left: 10px;
    }
    
  }
 
  ion-col{
    padding:0px;
  }

  .bottom-page{
    position: absolute; 
    bottom: 0px;
    width: 100%;

    button{
      margin: 0px;
      padding: 0px;
    }
  }
}